html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-size: 2rem;
}

.MuiAppBar-colorPrimary-13 {
  background: #dce35b !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #45b649,
    #dce35b
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #45b649,
    #dce35b
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.MuiModal-root-130,
.MuiDrawer-modal-129 {
  z-index: 100;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 70%;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}
.halo > div > img {
  width: 100%;
  max-width: 50rem;
  max-height: 50rem;
  padding: 0 0.5rem;
}
.ql-snow .ql-editor img {
  max-width: 50rem;
  display: inline-block;
  height: auto;
  width: 100%;
  max-height: 50rem;
}
.ql-toolbar {
  text-align: center !important ;
}
.ql-tooltip {
  z-index: 1000;
}
.ql-editor .ql-video {
  width: 100%;
  height: 30%;
  padding: 1rem;
  max-width: 300px;
  margin: 0 auto;
}
.halo > .ql-video {
  width: 100%;
  height: 30%;
  padding: 1rem;
  max-width: 300px;
}
.halo {
  text-align: center;
}
.outline:focus {
  outline: none;
}
